{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

    <Div style="padding-top: 8rem; padding-left: 1rem; padding-bottom: 2rem;">
        <h3>Queres publicar tu auto? ingresa </h3>
        <a class="btn btn-primary btn-lg text-dark" href="{% url 'venta' %}">aqui</a>
    </Div>
    
    <h4>Ingresa la marca de auto que estas buscando!</h4>
    <form action="{% url 'buscarCompra' %}" method="get">{% csrf_token %}

        <p>Marca:<input type="text" name="modelo"></p>
        
        <button type="submit" class="btn btn-primary btn-s text-dark"> Buscar </button>
    </form>

    

{% endblock contenidoQueCambia %}