{% extends 'padre.html' %}
{% load static %}

{% block contenidoQueCambia %}

    <Div style="padding-top: 8rem; padding-left: 1rem; padding-bottom: 1rem;">
        <h3>Los resultados de {{marca}} son:</h3>
    </Div>

    {% if autos %}
        <div class="divResultadoBusqueda">
            <ul>
                {% for auto in autos %}
                    <li>
                        Marca: {{auto.marca}}
                        Modelo: {{auto.modelo}} 
                        Año: {{auto.año}}
                        Kilometros: {{auto.kilometros}}km
                        Descripcion: {{auto.descripcion}}
                        Precio: ${{auto.precio}}  
                    </li>
                {% endfor %}  
            </ul>
        </div>

        {% else %} 
            <h3>No se a encontrado ningun auto de la marca {{marca}}</h3>
    {% endif %}
        
{% endblock contenidoQueCambia %}